<div style="width: 100%; height: {{height}}px;">
    <div style="width: 150px;">
        {{title}}
    </div>
    <div style="position: relative; left: 150px;">
        <div id="test_target"></div>
    </div>
</div>
