.item-remover {
    cursor: pointer;
}

textarea{
  width: 500px;
  min-width:500px;
  max-width:500px;

  height:350px;
  min-height:350px;
  max-height:350px;
}

input.typeahead {
    width: 180px;
}

.mutation.substitution {
    fill: red;
}

.mutation.possible-slice5-subst {
    fill: green;
}

.mutation.frame_shift {
    fill: gold;
}

.mutation.missense {
    fill: blue;
}

.mutation.NA {
    fill: lightgray;
}

.match.PFAM {
    fill: #aaaaaa;
}

.match.SMART {
    fill: #787878;
}

.match.PROFILE {
    fill: #c7c7c7;
}

.hovercard {
    line-height: 1.25em
}