.item-remover {
    cursor: pointer;
}

textarea{
  width: 500px;
  min-width:500px;
  max-width:500px;

  height:350px;
  min-height:350px;
  max-height:350px;
}

input.typeahead {
    width: 180px;
}

.hovercard {
    line-height: 1.25em;
}

.brush .extent {
    stroke: red;
    fill: #EEEEEE;
    opacity: 0.5;
}
